<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boredom.cinema_food">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CinemaFood">
        <activity
            android:name="com.boredom.cinema_food.ui.checkout.promo.PromoActivity"
            android:exported="false" />
        <activity
            android:name="com.boredom.cinema_food.ui.checkout.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.order.OrderActivity"
            android:exported="true"
            android:parentActivityName=".ui.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.home.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.CinemaFood">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.home.promo.PromoPreviewActivity"
            android:exported="true"
            android:parentActivityName=".ui.home.HomeActivity" />
    </application>

</manifest>